<div>
    <p>{{msg}}</p>
    <h1>{{title}}</h1>
    <input #titleInput type="text">
    <button (click)="ChangeTitle(titleInput.value)">Change title</button>

    <button (click)="handleClickEvent()">Toggle
        <ng-container *ngIf="!showCase">Show</ng-container>
        <ng-container *ngIf="showCase">Hide</ng-container>
    </button>

    <div>
        Selected index

    </div>

    <div>
        <ul *ngFor="let user of userlist">
            <!-- props  -->
            <app-lec-componets-list-user (customEvent)="customEventHandler($event)" [StaticString]="Static" [userList]="user" [showCase]="showCase"
            >
            <!-- (click)="selectedIndex()"  -->
            </app-lec-componets-list-user>
        </ul>
    </div>




</div>